/* =============================== */
/* CSS Boilerplate / Reset */
/* =============================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
:root {
  --font-poppins:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-gilroy:
    "Gilroy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-raleway:
    "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-raleway);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: #302e2e;
  color: #f1f1f1;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 10px 30px #0000001a;
  position: relative;
}

.search {
  margin-bottom: 20px;
}

.weather {
  justify-items: center;
}

input {
  padding: 8px;
  width: 70%;
  border-radius: 6px;
  border: none;
}

input:focus-visible {
  outline: #4e54c8 2px solid;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #4e54c8;
  color: white;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 1;
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}

#locationBtn,
#unitToggle {
  margin-top: 1rem;
}

#icon {
  width: 100px;
  height: 100px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.error-text {
  color: red;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  margin: 10px auto;
  animation: spin 0.8s linear infinite;
}

.hidden {
  display: none;
}

h2#city {
  word-break: break-word;
}

/* Forecast css */

.forecast {
  margin-top: 20px;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.forecast-day {
  background: #ffffffb3;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 60px;
  font-size: 12px;
  color: #302e2e;
}

.forecast-day img {
  width: 40px;
  height: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* gradient animated border */

.app::before {
  content: "";
  position: absolute;
  width: calc(101% + 6px);
  height: calc(101% + 6px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(
    var(--rotation),
    transparent 15%,
    #39ff14,
    #ccff00,
    transparent 85%
  );
  animation: spin-border 5s linear infinite;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  -webkit-animation: spin-border 5s linear infinite;
}

@property --rotation {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes spin-border {
  0% {
    --rotation: 0deg;
  }
  to {
    --rotation: 360deg;
  }
}
